@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  background: #000;
  max-width: 1400px;
  margin: 0 auto;
}
.loadText {
  font-size: 2.5rem;
  letter-spacing: 4px;
}

.dots::after {
  content: "";
  animation: dots 1.5s infinite steps(3);
}

@keyframes dots {
  0%   { content: ""; }
  33%  { content: "."; }
  66%  { content: ".."; }
  100% { content: "..."; }
}


.navbar {
  background: #ffffff14;
  max-width: 100%;
  border: 1px solid #ffffff4d;
  border-radius: 200px;
  padding: 12px 20px;
  margin: 0 auto;
}

.navbar .container-fluid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.navlink {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  white-space: nowrap;
}

.contact-section {
  max-width: 550px;
  margin: auto;
}

.mainImg {
  position: relative;
  width: 100%;
  max-width: 100%;

}

/* Main Image */
.main-chair {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

/* Contact Button */
.contact-btn {
  position: absolute;
  top: 1%;
  right: 2%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.4em 1.6em;
  font-size: 0.9em;
  background: white;
  border-radius: 999px;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

.contact-btn .arrow {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Couch Thumbnails */
.couch-thumbnails {
  position: absolute;
  bottom: 26%;
  left: -410px;
  display: flex;
  gap: 16px;
}

.couch-thumbnails img {
  width: 190px;
  border-radius: 14px;
}

.text-nav {
  font-size: 20px;
  white-space: nowrap;
  line-height: 100%;
  font-weight: 400;
}
/* Container */
.navBurger {
  position: relative;
}

/* Burger box */
.burger {
  display: none;
  width: 50px;
  cursor: pointer;
  background: rgb(0, 0, 0);
  padding: 2px;
  position: relative;
}

/* The 3 lines */
.burger span {
  display: block;
  height: 6px;
  background: rgb(255, 255, 255);
  margin: 6px 0;
  border-radius: 2px;
  transition: 0.3s;
}

/* Top line */
.burger.openNav span:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}


.burger.openNav span:nth-child(2) {
  opacity: 0;
}


.burger.openNav span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.navOpen {
  display: none;
  position: relative;
  list-style: none;
  padding: 12px;
  margin-top: 40px;

  background: rgb(0, 0, 0);
  border: 1px solid #ddd;
  border-radius: 8px;

  width: 100%;
    font-family: "K2D", sans-serif;
  font-weight: 600;
  
  
}


.navOpen li {
  margin-bottom: 50px;
   font-family: "K2D", sans-serif;
  font-weight: 600;
  
}

.navOpen li:last-child {
  margin-bottom: 0;
}


.navOpen .navlink {
  text-decoration: none;
  font-size: 17px;
  color: rgb(255, 255, 255);
}



.mainHeading {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-size: clamp(40px, 3.2vw, 100px);
  line-height: 100%;
}
.heading {
  width: 100%;
  height: 226px;
  margin-top: 20%;
  gap: 8px;
  transform: scale(95%);
}

.subtext {
  width: 405px;
  height: 124px;
  font-family: "K2D", sans-serif;
  font-weight: 100;
  line-height: 100%;
  font-size: 24px;
  margin-top: 50%;
}

.centerhero {
  margin-top: 20%;
}
.img-wrapper {
  position: relative;
  display: inline-block;
}

.black {
  position: absolute;
  width: 339px;
  height: 100px;
  background: #000000;
  border-radius: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}


.carousel-header {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 100%;
}
.view {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-size: 23.25px;
  line-height: 100%;
  color: #000000;
  cursor: pointer;
  white-space: nowrap;
}

.chairCarousel {
  width: 414px;
  height: 310px;
  object-fit: cover;
  font-family: "K2D", sans-serif;
}
.carousel-price {
  font-family: "K2D", sans-serif;
  white-space: nowrap;
}
.chooseSitCity h2 {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-size: 32px;
  line-height: 100%;
  color: #ffffff;
}
.aboutUs h2 {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  color: #ffffff;
}
.features {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}
.featureText {
  font-family: "K2D", sans-serif;
  font-weight: 275;
  font-size: 17.06px;
  line-height: 100%;
  color: #ffffff;
  text-align: center;
}
.reviewSet {
  max-width: 1100px;
  background: url("./assets/img/chairset.png") no-repeat center center;
  background-size: cover;
  border-radius: 24px;
  cursor: pointer;
}
.reviews {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #ffffff;
}
.reviewName {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
}
.reviewJob {
  font-family: "K2D", sans-serif;
  font-weight: 275;
  font-size: 20px;
  line-height: 100%;
}


.arrow-btn {
  width: 42px;
  height: 34px;
  background: white;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slick-slide .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footerLink {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  text-decoration: none;
}
.footerLinks {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 100%;
  color: #ffffff;
}
.footerLink:hover {
  color: #c0c0c0;
}
.icn {
  cursor: pointer;
  font-size: 20px;
  color: #bbff7f;
  margin-right: 15px;
}
.icn:hover {
  color: #bbff7f67;
}
.footerImg {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-5%, -50%);
}

.sitText h1 {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-size: 170px;
  line-height: 100%;
  color: #ffffff25;
  white-space: nowrap;
}

@media (max-width: 1379px) {
  .navHome {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;

  }
  .subtext{
    margin-top: 5%;
  }
  .contactUs {
    margin-bottom: 50%;
  }
  .contact-section{
    margin-top: 10%;
  }
.couch:nth-child(2),
.couch:nth-child(1) {
  position: relative;
  transform: translateY(250%);
  left: 80%;

}

  .centerchair1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chairText {
    padding: 2%;
    max-width: 50ch;
  }
  .centerhero {
    gap: 20px;
  }
  .centerhero1,
  .centerhero2 {
    justify-content: center !important;
  }
  .sitText h1 {
    font-size: 10em;
  }
  hr {
    width: 100%;
  }
  .chairText{
    margin-top: 5%;
  }
}

@media (max-width: 990px) {
  .featureCol {
    margin-bottom: 10%;
  }
  .reviews {
    flex-direction: column !important;
    align-items: center;
  }

  .testimonials {
    margin-bottom: 1.5rem;
  }

  .testText {
    margin-left: 0 !important;
    text-align: center;
  }
}
@media (max-width: 820px) {
}
@media (max-width: 780px) {
  .righty,
  .lefty {
    width: 100px !important;
  }
  .sitText h1 {
    font-size: 5em;
  }
}
@media (max-width: 680px) {
  .navbar{
    display: none;
  }
  .burger{
    display: block;
  }
  .navOpen.showNav {
  display: block;
}
  .carousel-header p {
    font-size: 1.4rem;
  }
  .centerImg1 .centerImg2 {
    width: 200px !important;
  }

  .carousel-header span {
    font-size: 0.7rem !important;
  }
  .view {
    width: 100px !important;
    font-size: 1em;
    height: 35px !important;
    padding: 10px 15px !important;
  }
      .contact-section{
    margin-bottom: 20%;
  }
  .reviews{
    margin-bottom: 20%;
  }
}
@media (max-width: 558px) {
.couch-thumbnails img {
  width: 180px;
  border-radius: 14px;
}
.couch-thumbnails{
  left: -400px;
}
}
@media (max-width: 550px) {
  .black {
    width: 259px;
    height: 70px;
  }
  .contact-btn {
    position: absolute;
    top: 1%;
    right: 2%;
    gap: 0.5em;
    padding: 0.2em 1em;
    font-size: 0.9em;
  }
}
@media (max-width: 508px) {
.couch-thumbnails img {
  width: 160px;
  border-radius: 14px;
}
.couch-thumbnails{
  left: -350px;
}
}
@media (max-width: 490px) {
  .contact-btn {
    position: absolute;
    top: 1%;
    right: 2%;
    gap: 0.5em;
    padding: 0.2em 1em;
    font-size: 0.9em;
  }
  .contact-btn .arrow {
    width: 20px;
    height: 20px;
  }
.couch-thumbnails img {
  width: 150px;
  border-radius: 14px;
}
.couch-thumbnails{
  left: -340px;
}
  .contact-section{
    margin-top: 20%;
  }
}
@media (max-width: 463px) {
  .contact-btn {
    gap: 0.5em;
    padding: 0.2em 0.5em;
    font-size: 0.9em;
  }
}
@media (max-width: 425px) {
.couch-thumbnails img {
  width: 130px;
  border-radius: 14px;
}
.couch-thumbnails{
  left: -290px;
}
.subtext{
  width: 100%;
}
}
@media (max-width: 411px) {
  .contact-btn {
    right: -0.1%;
  }
}

@media (max-width: 400px) {
  .black {
    width: 200px;
    height: 40px;
  }
  .sitText h1 {
    font-size: 4em;
  }
.couch-thumbnails img {
  width: 120px;
  border-radius: 14px;
}
.couch-thumbnails{
  left: -270px;
}
}
@media (max-width: 387px) {
  .contact-btn {
    position: absolute;
    top: 1%;
    gap: 0.5em;
    padding: 0.2em 0.2em;
    font-size: 0.9em;
  }
    .contact-section{
    margin-top: 50%;
  }
}
@media (max-width: 368px) {
  .contact-btn {
    position: absolute;
    top: 1%;
    padding: 0.2em 0.1em;
    font-size: 0.9em;
  }
  .contact-btn img {
    transform: scale(0.9);
  }
.couch-thumbnails img {
  width: 110px;
  border-radius: 14px;
}
.couch-thumbnails{
  left: -250px;
}
}
@media(max-width: 335px){
    .contact-section{
    margin-top: 50%;
  }
}

